In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [5]:
data = pd.read_csv('fuel_ferc1.csv')
data.describe(include='all')

                     record_id  ...  fuel_cost_per_mmbtu
count                    29523  ...         29523.000000
unique                   29523  ...                  NaN
top     f1_fuel_2008_12_45_1_5  ...                  NaN
freq                         1  ...                  NaN
mean                       NaN  ...            19.304354
std                        NaN  ...          2091.540939
min                        NaN  ...           -41.501000
25%                        NaN  ...             1.940000
50%                        NaN  ...             4.127000
75%                        NaN  ...             7.745000
max                        NaN  ...        359278.000000

[11 rows x 11 columns]

In [6]:
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [33]:
missing_value_percentage = 180/29523 * 100
print(round(missing_value_percentage, 3))

0.61

In [7]:
data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [8]:
data[['fuel_unit']] = data[['fuel_unit']].fillna(value='mcf')

In [9]:
data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [11]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [12]:
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [13]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [15]:
fuel_type = data.groupby('fuel_type_code_pudl').mean()

In [19]:
fuel_type['fuel_cost_per_unit_burned']

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [21]:
data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [24]:
data['fuel_qty_burned'].skew()

15.851495469109503

In [25]:
data['fuel_qty_burned'].kurt()

651.3694501337732

In [26]:
type(data['fuel_unit'][0])

str

In [27]:
year = data.groupby('report_year').mean()

In [28]:
year['fuel_cost_per_unit_delivered'].max()

11140.19723948813

In [29]:
year['fuel_cost_per_unit_delivered']

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [34]:
data.columns.values

array(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype=object)

In [35]:
column = ['utility_id_ferc1', 'report_year',
       'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu']

In [36]:
corr_dict = {}
for col in column:
  corr = np.corrcoef(data['fuel_cost_per_unit_burned'], data[col])
  corr_dict[col] = corr[0][1]

In [37]:
corr_dict

{'fuel_cost_per_mmbtu': -0.00043721044397040015,
 'fuel_cost_per_unit_burned': 1.0,
 'fuel_cost_per_unit_delivered': 0.011007403299165119,
 'fuel_mmbtu_per_unit': -0.010033808428853062,
 'fuel_qty_burned': -0.018535416794825222,
 'report_year': 0.013599134438134125,
 'utility_id_ferc1': -0.03786270759997259}

In [38]:
coal = data.loc[data['fuel_type_code_pudl']=='coal']

In [39]:
coal = coal[['report_year', 'fuel_cost_per_unit_burned']]

In [40]:
coal_year = coal.groupby('report_year').mean()

In [41]:
coal_year

             fuel_cost_per_unit_burned
report_year
1994                         31.546467
1995                         30.677442
1996                         29.454299
1997                        104.897309
1998                         27.616234
1999                         38.361101
2000                        249.203055
2001                         41.622623
2002                         27.623988
2003                         94.085441
2004                         29.913239
2005                         34.281426
2006                         37.928697
2007                         39.288397
2008                         44.507292
2009                        142.805197
2010                        280.467547
2011                         52.634721
2012                         53.657789
2013                         55.093312
2014                         52.244736
2015                         49.769534
2016                         46.447385
2017                         45.983336
2018                         44.967758

In [43]:
percentage_change = ((27.616234 - 31.546467)/31.546467) * 100
print(percentage_change)

-12.458552014715313